.editor-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 28px;
  position: relative;
}

.editor-window {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 5;
}
