.review-result {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  > h2 {
    font-size: var(--fs-36);
    font-weight: 600;
  }
}

.review-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
