.review-panel {
  display: flex;
  justify-content: space-around;
  height: 50vh;
  min-height: 350px;
  max-height: 600px;
  width: 100%;
  padding-block: 32px;
  background-color: #fafafa;
  border-radius: 24px;

  &:is(.review-panel--dark) {
    background-color: #181818;
  }
}

.editor-container {
  display: flex;
  position: relative;
  height: 100%;
}
